<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/ico" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/print.css"
      media="print"
    />
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="container">
      <div class="inner">
        <header>
          <a name="top"></a>
          <h1></h1>
        </header>
        <section id="main_content"></section>

        <footer>
          <a href="/">Home</a> | <a href="/datenschutz">Datenschutz</a> |
          <a href="/impressum">Impressum</a>.
        </footer>
      </div>
    </div>
  </body>
</html>
